/* Universal Colors & Fonts */
/* Universal Styles */
body {
  color: #004346;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0 auto; }

p {
  color: #004346;
  font-size: 16px;
  padding: 0px 30px;
  text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif; }

.full-width {
  width: 100%;
  display: flex;
  flex-direction: row; }

.half-width {
  width: 50%; }

.third-width {
  width: 33.3%; }

.fourth-width {
  width: 25%; }

a {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase; }

a:hover {
  color: #fcca46; }

/* Header Styles */
header {
  height: 500px;
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: right center;
  padding: 0px 100px; }
  header p {
    margin: 220px 0px; }
  header .full-width {
    flex-direction: row; }
  header h1 {
    color: white;
    line-height: 2.80rem;
    font-size: 35px;
    font-weight: 900;
    text-align: justify;
    text-transform: lowercase; }
  header span {
    color: #fcca46; }

/* Navigation */
nav {
  margin: 60px 0px;
  text-align: right; }
  nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 40px; }
  nav a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .25rem;
    text-decoration: none; }

#work, #about
#work {
  background-image: url("../img/purple-flower-01.png");
  background-position: -15% 105%;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 1250px;
  margin: 50px 0px; }
  #work h2, #about
  #work h2 {
    color: #023e5b;
    font-size: 28px;
    margin: 0px 0px 50px 0px;
    text-align: center;
    text-transform: uppercase; }
  #work h3, #about
  #work h3 {
    color: #a8aa6a;
    line-height: .25rem;
    font-weight: 700;
    text-transform: lowercase;
    padding-left: 40px; }
  #work h4, #about
  #work h4 {
    line-height: .25rem;
    padding-left: 40px; }
  #work p, #about
  #work p {
    padding: 5px 0px 0px 40px; }
  #work .full-width, #about
  #work .full-width {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
    width: 75%; }
  #work .half-width, #about
  #work .half-width {
    padding: 0px 0px 50px 0px; }
  #work img#portfolio, #about
  #work img#portfolio {
    width: 100%;
    border: 2px solid #a8aa6a;
    border-radius: 10px; }
  #work a, #about
  #work a {
    color: #5e4278;
    text-decoration: none; }
  #work a:hover, #about
  #work a:hover {
    color: #fcca46;
    text-decoration: none; }

/* About Me */
#about {
  background-color: #a8aa6a;
  height: 600px; }
  #about .full-width {
    margin: 0 auto;
    width: 75%; }
  #about h2 {
    color: #023e5b;
    font-size: 28px;
    padding: 50px 0px 25px 0px;
    text-align: center;
    text-transform: uppercase; }
  #about h3 {
    color: #023e5b;
    font-weight: 700;
    line-height: 1.5rem;
    padding-bottom: 25px;
    text-align: center;
    text-transform: lowercase; }
    #about h3 span {
      color: white; }
  #about p {
    padding: 0px 30px 0px 0px; }
    #about p b {
      color: #5e4278;
      font-weight: 700; }
  #about img#portrait {
    width: 80%;
    border: 30px solid white;
    border-radius: 10px; }
  #about ul {
    list-style-type: none; }
  #about li {
    color: #5e4278; }

/* Contact Me */
#contact {
  margin-top: -25px;
  background-color: #023e5b;
  background-image: url("../img/green-flower.png");
  background-position: 112%;
  background-repeat: no-repeat;
  background-size: 45%;
  height: 400px; }
  #contact h2 {
    color: #fcca46;
    font-size: 28px;
    padding: 50px 0px 25px 0px;
    text-align: center;
    text-transform: uppercase; }
  #contact .full-width {
    width: 75%;
    margin: 0 auto; }
  #contact h3 {
    color: white;
    font-weight: 700;
    line-height: .25rem;
    padding-bottom: 20px;
    text-align: center;
    text-transform: lowercase; }
  #contact p {
    color: white;
    text-align: center;
    padding: 0px; }
  #contact img {
    padding-right: 20px; }
  #contact a {
    color: white;
    text-decoration: none; }
  #contact a:hover {
    color: #fcca46; }

/* Footer */
footer {
  background-color: #023e5b;
  color: #fcca46;
  text-transform: lowercase; }
  footer h3 {
    width: 100%;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
