/* Universal Colors & Fonts */

$purple: #5e4278;
$yellow: #fcca46;
$green: #a8aa6a;
$blue: #023e5b;
$dark-green: #004346;

$body-font: 'Gotu', sans-serif;
$heading-font: 'Poppins', sans-serif;
$bold: 700;
$black: 900;
$regular: 400;

/* Universal Styles */

body {
    color: $dark-green;
    font-family: $body-font;
    font-weight: $regular;
    margin: 0 auto;
}

p {
    padding: 0px 30px;
}

/* Header Styles */

header {
    height: 500px;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: right center;
    padding: 0px 100px;
    p {
        margin: 220px 0px;
    }
    .full-width {
        flex-direction: row;
    }
    h1 {
        color: white;
        line-height: 2.80rem;
        font-family: $heading-font;
        font-size: 35px;
        font-weight: $black;
        text-align: justify;
        text-transform: lowercase;
    }
    span {
        color: $yellow;
    }
}

/* Navigation */

nav {
    margin: 60px 0px;
    text-align: right;
        ul li {
        display: inline-block;
        list-style-type: none;
        padding-left: 40px;
        }
        a {
            color: white;
            font-family: $heading-font;
            font-weight: $bold;
            letter-spacing: .25rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            color: $yellow;
        }

}

/* Portfolio */

#work {
    height: 900px;
}

#about {
    height: 400px;
}

#contact {
    height: 350px;
}

.full-width {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.3%;
}