/* Universal Colors & Fonts */

$purple: #5e4278;
$yellow: #fcca46;
$green: #a8aa6a;
$blue: #023e5b;
$dark-green: #004346;

$body-font: 'Playfair Display', serif;
$heading-font: 'Poppins', sans-serif;
$bold: 700;
$black: 900;
$regular: 400;

/* Universal Styles */

body {
    color: $dark-green;
    font-family: $body-font;
    font-weight: $regular;
    margin: 0 auto;
}

p {
    color: $dark-green;
    font-size: 16px;
    padding: 0px 30px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

.full-width {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.3%;
}

.fourth-width {
    width: 25%;
}

a {
    font-family: $heading-font;
    text-transform: uppercase;
}

a:hover {
    color: $yellow;
}

/* Header Styles */

header {
    height: 500px;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: right center;
    padding: 0px 100px;
    p {
        margin: 220px 0px;
    }
    .full-width {
        flex-direction: row;
    }
    h1 {
        color: white;
        line-height: 2.80rem;
        font-size: 35px;
        font-weight: $black;
        text-align: justify;
        text-transform: lowercase;
    }
    span {
        color: $yellow;
    }
}

/* Navigation */

nav {
    margin: 60px 0px;
    text-align: right;
        ul li {
        display: inline-block;
        list-style-type: none;
        padding-left: 40px;
        }
        a {
            color: white;
            font-family: $heading-font;
            font-weight: $bold;
            letter-spacing: .25rem;
            text-decoration: none;
        }

}

/* My Work */

#work {
    background-image: url('../img/purple-flower-01\.png');
    background-position: -15% 105%;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 1250px;
    margin: 50px 0px;
    h2 {
        color: $blue;
        font-size: 28px;
        margin: 0px 0px 50px 0px;
        text-align: center;
        text-transform: uppercase;
    }
    h3 {
        color: $green;
        line-height: .25rem;
        font-weight: $bold;
        text-transform: lowercase;
        padding-left: 40px;
    }
    h4 {
        line-height: .25rem;
        padding-left: 40px;
    }
    p {
        padding: 5px 0px 0px 40px;
    }
    .full-width {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0px 0px 50px 0px;
        width: 75%;
    }
    .half-width {
        padding: 0px 0px 50px 0px;
    }
    img#portfolio {
        width: 100%;
        border: 1px solid $green;
    }
    a {
        color: $purple;
        text-decoration: none;
    }
    a:hover {
        color: $yellow;
        text-decoration: none;
    }
}

/* About Me */


#about {
    background-color: $green;
    height: 600px;
    .full-width {
        margin: 0 auto;
        width: 75%;
    }
    h2 {
        color: $blue;
        font-size: 28px;
        padding: 50px 0px 25px 0px;
        text-align: center;
        text-transform: uppercase;
    }
    h3 {
        color: $blue;
        font-weight: $bold;
        line-height: 1.5rem;
        padding-bottom: 25px;
        text-align: center;
        text-transform: lowercase;
        span {
            color: white;
        }
    }
    p {
        padding: 0px 30px 0px 0px;
        b {
            color: $purple;
            font-weight: $bold;
        }
    }
    img#portrait {
        width: 80%;
        border: 30px solid white;
    }
    ul {
        list-style-type: none;
    }
    li {
        color: $purple;
    }
}

/* Contact Me */

#contact {
    margin-top: -25px;
    background-color: $blue;
    background-image: url('../img/green-flower.png');
    background-position: 112%;
    background-repeat: no-repeat;
    background-size: 45%;
    height: 400px;
    h2 {
        color: $yellow;
        font-size: 28px;
        padding: 50px 0px 25px 0px;
        text-align: center;
        text-transform: uppercase;
    }
    .full-width {
        width: 75%;
        margin: 0 auto;
    }
    h3 {
        color: white;
        font-weight: $bold;
        line-height: .25rem;
        padding-bottom: 20px;
        text-align: center;
        text-transform: lowercase;
    }
    p {
        color: white;
        text-align: center;
        padding: 0px;
    }
    img {
        padding-right: 20px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: $yellow;
    }
}

/* Footer */

footer {
    background-color: $blue;
    color: $yellow;
    text-transform: lowercase;
    h3 {
        width: 100%;
        text-align: center;
    }
}